{% extends 'day-base.html' %}

{% block navigation %}
        <a href={{url_for("index")}}>На главную</a>
{% endblock %}

{% block content %}
      <article>
        <h1>День шестой. Как я ничего не понял</h1>
        <p>Сегодня зашёл на несколько сайтов посмотреть, как они свёрстаны. Увидел какие-то цитаты и незнакомые теги <code>&lt;cite&gt;</code> и <code>&lt;blockquote&gt;</code>.</p>
        <p>Не понял чем они отличаются. Закрыл браузер. Разберусь завтра.</p>
        <p>А вот что я увидел.</p>
          <pre><code>
              <blockquote>
                  <p>Ум ценится дорого, когда дешевеет сила.</p> <cite>Джейсон Стэтхэм</cite>
              </blockquote>
          </code></pre>
      </article>
      <aside class="partnership">
        Тут могла быть ваша реклама
      </aside>
   {% endblock %}
