{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href='{{ url_for('static', filename='form-style.css') }}'>
{% endblock %}

{% block content %}
    <h2>Авторизация</h2>
    <p>Войди на сайт!</p>
    {% for cat, msg in get_flashed_messages(with_categories=True) %}

    {% endfor %}

    <form class="feedback-form" action="/login" method="post">
        <p>
            <label for="login">Введите логин</label>
            <input type="text" name="login" id="login">
        </p>
        <input class="btn" type="submit" value="Изменить">
    </form>
{% endblock %}
